^tmp_admin=head^
<div class="col-md-9">
    ^tmp_admin=elements=error_success^
    ^tmp_admin=elements=sub_nav^

	  <div class="alert alert-info">
      <h3 style="margin-top:0">^loc_LOGVIEWER^</h3>
    </div>

    <div style="margin-bottom:20px">
      <input type="text" ng-model="limit" placeholder="Number of lines to display" />
      <span style="float:right">
        <i class="fa fa-spinner" ng-if="refreshing"></i>&nbsp;
        <a type="button" class="btn btn-primary" ng-click="refresh()"><i class="fa fa-refresh"></i>&nbsp;^loc_REFRESH^</a>
      </span>
    </div>
    <div class="panel panel-default" ng-if="contents!=undefined">
      <div id="panel-log" class="panel-body" style="height:600px;overflow-y:scroll">
        <div ng-repeat="log in contents | limitTo:-limit">
          <span class="" ng-bind="log.timestamp"></span>
          <span class="label" ng-class="{'label-primary':log.level=='debug','label-danger':log.level=='error','label-warning':log.level=='warning','label-info':log.level=='info'}" ng-bind="log.level"></span>
          <span ng-bind="log.message"  ng-class="{'text-primary':log.level=='debug','text-danger':log.level=='error','text-warning':log.level=='warning','text-info':log.level=='info'}"></span>
        </div>
      </div>
    </div>
    

</div>
^tmp_angular=admin=logviewer^
^tmp_admin=footer^
